.edit-company-title-container h2 {
  font-size: 18px;
  font-weight: 600;
  color: #172B4D;
  margin: 0%;
  margin-bottom: 1%;
}

.edit-company-input-container1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2%;
}

.edit-company-input-container1 .edit-company-input-extra-css {
  padding: 2.4% 3%;
}


.edit-company-input-container2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
}

.edit-company-input-container2 .edit-company-input-extra-css2 {
  padding: 3.5% 4%;
}